<div class="footer">
    <footer>
       <div class="links">
            <a href="#">About</a>
            <a href="#">Contact Us</a>
            <a href="#">Other Products</a>
            <a href="#">Careers</a>
       </div>
    </footer>
</div>
<style>
     .footer {
        margin-bottom: 0px;
        background-color: white;
        height: 100px;
        
    }
    .links {
        display: flex;
        justify-content: space-around;
        padding-top: 40px; 
        color: green;
        font-size: 20px;
    }

    a{
        color: green;
    }
    a:hover {
        text-decoration: none;
    }


</style>