<div class="footer">
    <footer>
        <h3>Something</h3>
        <h3>Something</h3>
        <h3>Something</h3>
        <h3>Something</h3>
        <h3>Something</h3>
        <h3>Something</h3>
    </footer>
</div>
<style>
     .footer {
        margin-bottom: 0px;
        background-color: green;
    }
</style>