<nav class="navbar">
    <a href="/">
        <button class="">Home</button>
    </a>
    <a href="/stories">
        <button>Our User Stories</button>
    </a>
</nav>

<style>
    a > button {
        line-height: 35px;
        border-radius: 5px;
        border-color: green;
        color: green;

    }
    nav {
        margin-top: 5px;
        background-color:white;
    }
    
</style>