<nav class="navbar">
    <a href="/">
        <button>Home</button>
    </a>
    <a href="/stories">
        <button>Our User Stories</button>
    </a>
</nav>

<style>
        nav {
            background-color: #03C03C;
        }
</style>