<fieldset>

    <!-- USERNAME  -->
    <div class="form-group">
        <label for="org-title">Username</label><br>
        <input class="form-control" id="org-title" type="text" name="userName" value="{{story.userName}}" />
    </div>

    <!-- STORY -->
    <div class="form-group">
        <label for="description-text">What is your experience with Blood Diet?</label><br>
        <textarea class="form-control" id="story-text" name="storyBody" rows="10" />{{story.storyBody}}</textarea>
    </div>



</fieldset>