<div class="form-container">
    <h2>Find out your Diet</h2>
    <form class="new-input" action="/blood" method="POST">
        <div class="form-group">
            <label for="exampleFormControlInput1">Full Name</label>
    
            <input type="name" name="fullName" class="form-control" id="exampleFormControlInput1" placeholder="John Doe">
            <div class="form-group">
                <label for="exampleFormControlInput1">Weight</label>
                <input type="name" name="weight" class="form-control" id="exampleFormControlInput1" placeholder="155 lb">
            </div>
    
            <div class="form-group">
                <label for="exampleFormControlInput1">Height</label>
                <input type="name" name="height" class="form-control" id="exampleFormControlInput1" placeholder="6'0">
            </div>
    
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Your Blood Type</label>
                <select class="form-control" name="bloodTypes" id="exampleFormControlSelect1">
                    <option value="A">Blood Type A</option>
                    <option value="B">Blood Type B</option>
                    <option value="AB">Blood Type AB</option>
                    <option value="O">Blood Type O</option>
                </select>
            </div>
    
            <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
<style>
    body {
        background-color: #e8ede8;
    }
    
    .form-container  {
        margin-left: 300px;
        margin-right: 300px;

        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .form-container > h2 {
        display: flex;
        flex: 1;
        align-content: center;
    }
</style>

<script>
    const bloodTypes = document.getElementById('exampleFormControlSelect1')

    bloodTypes.addEventListener('change', function(e) {
       // working 
        console.log('Blood menu changed')
        // printing
        console.log(bloodTypes.value)
        
        fetch(`/getblood?type=bloodTypes.value`).then((res) => {
            console.log('res from server')
            return res.json()
        }).then((data) => {
            console.log(data)
        }).catch((err) => {
            console.log('Error')
            console.log(err.message)
        })
    })
   
</script>