<div class="form-container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Share your Story</h2>
            <form method="POST" action="/stories">
                {{> stories-form}}
                <!-- BUTTON -->
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Post your story</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
