<div class="intro">
    <h1>Type O DIet</h1>
    <p>
        We've already mentioned the tendency of type O towards higher levels of stomach acid. There is also another unique
        characteristic of type O that is perhaps even more important: This blood type has a very well-developed ability to
        digest meals that contain both protein and fat. This is because two chemicals used by the digestive tract, an enzyme
        called intestinal alkaline phosphatase, and a lipoprotein called ApoB48 are secreted into the digestive tract in much
        higher amounts by type O's. These digestive factors greatly enhance the ability of type O to not only metabolize the
        choelsterol in animal products more efficiently, but also greatly increase their ability to heal their digestive tract
        and better assimilate calcium. However, these very same strengths come at a cost: in Type O simple carbohydrates,
        especially from grains, are more easily converted into fats and triglycerides. Many grains also contain reactive
        proteins called lectins that can ramp up the type O immune system, resulting in unwanted inflammation and auto-immunity
    </p>
</div>
<div class="list">
    <div>
        <h3>Meat</h3>
        <ul>
            <li>Beef</li>
            <li>Buffalo</li>
            <li>Chicken</li>
            <li>Comish </li>
            <li>Duck</li>
            <li>Goat </li>
            <li>Heart</li>
            <li>Lamb</li>
            <li>Mutton</li>
            <li>Liver </li>
            <li>Partridge </li>
            <li>Pheasant </li>
            <li>Quail</li>
            <li>Rabbit </li>
            <li>Turkey </li>
        </ul>
    </div>
    
    <div>
        <h3>Vegetable</h3>
        <ul>
            <li>Agar </li>
            <li>Artichoke</li>
            <li>Arugula</li>
            <li>Asparagus </li>
            <li>Bamboo </li>
            <li>Beet</li>
            <li>Broccoli</li>
            <li>Carrot </li>
            <li>Celery </li>
            <li>Chervil</li>
            <li>Chicory </li>
            <li>Carrot Juice</li>
            <li>Celery Juice</li>
            <li>Dandelion </li>
            <li>Endive</li>
            <li>Escarole </li>
            <li>Fennel</li>
            <li>Garlic </li>
            <li>Ginger</li>
            <li>Horseradish </li>
        </ul>
    </div>
</div>