<div class="intro">
    <h1>Type B Diet</h1>
    <p>
        For Type Bs the biggest factors in weight gain are corn, wheat, buckwheat, lentils, tomatoes, peanuts and sesame seeds.
        Each of these foods affect the efficiency of your metabolic process, resulting in fatigue, fluid retention, and
        hypoglycemia - a severe drop in blood sugar after eating a meal. When you eliminate these foods and begin eating a diet
        that is right for your type, you blood sugar levels should remain normal after meals. Another very common food that
        Type Bs should avoid is chicken. Chicken contains a Blood Type B agglutinating lectin in its muscle tissue. Although
        chicken is a lean meat, the issue is the power of an agglutinating lectin attacking your bloodstream and the potential
        for it to lead to strokes and immune disorders. Dr. D'Adamo suggests that you wean yourself away from chicken and
        replace them with highly beneficial foods such as goat, lamb, mutton, rabbit and venison. Other foods that encourage
        weight loss are green vegetables, eggs, beneficial meats, and low fat dairy. When the toxic foods are avoided and
        replaced with beneficial foods, Blood Type Bs are very successful in controlling their weight.
    </p>
</div>
<div class="list">
    <div>
        <h3>Meat</h3>
        <ul>
            <li>Beef</li>
            <li>Buffalo</li>
            <li>Lamb</li>
            <li>Liver (Calf)</li>
            <li>Mutton</li>
            <li>Pheasant</li>
            <li>Rabbit</li>
            <li>Turkey</li>
            <li>Veal Venison</li>
    
        </ul>
    </div>
    
    <div>
        <h3>Vegetetable</h3>
        <ul>
            <li>Agar</li>
            <li>Alfalfa</li>
            <li>Asparagus</li>
            <li>Beet</li>
            <li>Broccoli</li>
            <li>Brussel</li>
            <li>Sprout</li>
            <li>Caper</li>
            <li>Carrot</li>
            <li>Celery</li>
            <li>Chervil</li>
            <li>Chicory</li>
            <li>Leek</li>
            <li>Daikon</li>
            <li>Radish</li>
            <li>Dandelion</li>
            <li>Eggplant</li>
            <li>Endive</li>
            <li>Escarole</li>
            <li>Fennel</li>
    
        </ul>
    </div>
</div>