<div class="intro">
    <h1>Type A Diet</h1>
    <p>
        "When we discuss 'diet,' we are not talking necessarily about a weight loss plan, that's a side benefit to following
        this plan. We are actually discussing diet in the more traditional sense, meaning a way to eat," explains, Dr. D'Adamo.
        Type As flourish on a vegetarian diet - if you are accustomed to eating meat, you will lose weight and have more energy
        once you eliminate the toxic foods from your diet. Many people find it difficult to move away from the typical meat and
        potato fare to soy proteins, grains and vegetables. But it is particularly important for sensitive Type As to eat their
        foods in as natural a state as possible: pure, fresh and organic. "I can't emphasize enough how this critical dietary
        adjustment can be to the sensitive immune system of Type A. With this diet you can supercharge your immune system and
        potentially short circuit the development of life threatening diseases."
    </p>
</div>
<div class="list">
    <div>
        <h3>Meat</h3>
        <ul>
            <li>Chicken</li>
            <li>Comish Hens</li>
            <li>Turkey</li>
        </ul>
    </div>
    <div>
        <h3>Vegetables</h3>
        <ul>
            <li>Alfa</li>
            <li>Sprouts</li>
            <li>Aloe/Aloe Tea/Aloe Juice</li>
            <li>Artichoke</li>
            <li>Domestic/Globe/Jerusalem</li>
            <li>Arugula</li>
            <li>Asparagus</li>
            <li>Bamboo</li>
            <li>Shoot</li>
            <li>Beet</li>
            <li>Beet Greens* </li>
            <li>Beet/Beet Greens Juice</li>
            <li>Bok Choy</li>
            <li>Broccoli*</li>
            <li>Brussel</li>
            <li>Sprout</li>
            <li>Cabbage Juice</li>
            <li>Carrot/Carrot Juice *</li>
            <li>Cauliflower</li>
            <li>Celery</li>
            <li>Celery Juice *</li>
            <li>Chervil</li>
            <li>Chicory*</li>
            <li>Cilantro</li>
            <li>Collard Greens*</li>
            <li>Cucumber</li>
            <li>Cucumber Juice</li>
            <li>Daikon</li>
            <li>Radish </li>
            <li>Dandelion*</li>
            <li>Endive
            <li>Escarole*</li>
            <li>Fennel Fiddlehead Fem</li>
            <li>Garlic*</li>
            <li>Ginger*</li>
            <li>Horseradish *</li>
        </ul>
    </div>
</div>