<div class="intro">
    <h1>Type AB Diet</h1>
    <p>
        Type AB reflects the mixed inheritance of their A and B genes. According to Dr. D’Adamo, “Type AB has Type A’s low
        stomach acid, however, they also have Type B’s adaptation to meats. Therefore, you lack enough stomach acid to
        metabolize them efficiently and the meat you eat tends to get stored as fat. Because type AB has both the A and the B
        blood type antigens, foods that contain chemicals called lectins are more likely to react with the tissues and cells of
        type AB than any of the other blood types. <br>
        Type AB should avoid caffeine and alcohol, especially when you’re in stressful situations. Dr. D’Adamo recommends that
        Type AB focus on foods such as tofu, seafood, dairy and green vegetables if you are trying to lose weight. “Avoid all
        smoked or cured meats. These foods can cause stomach cancer in people with low levels of stomach acid,” recommends Dr.
        D’Adamo. There is a wide variety of seafood for Type AB, and it is an excellent source of protein for Type AB. A few
        highly beneficial fish are mahi-mahi, red snapper, salmon, sardines, and tuna.. Some dairy is also beneficial for Type
        AB – especially cultured dairy such as Yogurt and kefir.
    </p>
</div>
<div class="list">
    <div>
        <h3>Meat</h3>
        <ul>
            <li>Lamb</li>
            <li>Liver</li>
            <li>Mutton</li>
            <li>Pheasant</li>
            <li>Rabbit</li>
            <li>Turkey</li>
        </ul>
    </div>
    <div>
        <h3>Vegetables</h3>
        <ul>
            <li>Cucumber Juice</li>
            <li>Daikon Radish</li>
            <li>Endive</li>
            <li>Eggplant</li>
            <li>Okra</li>
            <li>Dandelion</li>
            <li>Escarole</li>
            <li>Fennel</li>
            <li>Garlic</li>
            <li>Ginger</li>
            <li>Horseradish</li>
            <li>Jicama</li>
            <li>Kale</li>
            <li>Kelp</li>
            <li>Kohlrabi</li>
            <li>Leek</li>
            <li>Lettuce</li>
            <li>Pimento</li>
    
        </ul>
    </div>
</div>
